.screen {
    height: 834px;
    width: 1194px;
    border-color: black;
    border-style: solid;
    margin: 40px;
    padding: 20px;
    font-size: 26px;
    border-radius: 15px;
}

h1 {
    font-family: Lora;
}
/* .cursor-hand {
    font-size: 20px;
    margin-left: 8px;
    margin-top: 3px;
    cursor: url(citr.jpg), pointer;
} */

.highlight-flex-box {
    flex: 50%;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 22px;

    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px
}

.bui {
    flex: 20%;
    top: 5px;
    margin-top: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 22px;

    padding-left: 20px;
    padding-right: 20px
}

.font {
    margin-top: 5px;
}



.circle1 {
    margin-top: 4px;
    margin-left: 10px;
    height: 22px;
    width: 22px;
    background-color: yellow;
    border-radius: 50%;
}

.circle2 {
    margin-top: 4px;
    margin-left: 10px;
    height: 22px;
    width: 22px;
    background-color: greenyellow;
    border-radius: 50%;
}

.circle3 {
    margin-top: 4px;
    margin-left: 10px;
    height: 22px;
    width: 22px;
    background-color: blue;
    border-radius: 50%;
}





.flex-header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}

.flex-header2 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}

.row {
    display: flex;
    gap: 35px;
    text-align: justify;
    padding: 15px;
}

.column {
    flex-basis: 50%;
    padding: 10px;
}

.arrow {
    font-size: 10px;
    margin-left: 2px;
    margin-top: 15px;
}

.font-flex-box {
    flex: 30%;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 22px;

    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px
}

.change-font-size {
    display: flex-column;
    margin-left: 10px
}

.font-arrow-up {
    margin-left: 4px;
    font-size: 12px;
}

.font-arrow-down {
    margin-left: 4px;
    font-size: 12px;
}

.font-arrow-number {
    margin-left: 4px;
    font-size: 12px;
}




.react-flex-box {
    flex: 30%;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 22px;

    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px
}

.react {
    font-family: Lora;
}

.dropdown {
    float: left;
    margin-left: 70px;
    margin-top: -22px;
    width: 19px;
}


.arrow-react {
    font-size: 10px;
    margin-left: 2px;
    margin-top: 10px;
}

.emoji {
    font-size: 20px;
    margin-left: 8px;
    margin-top: 3px;
}

.users-flex-box {
    flex: 50%;
    display: flex;
    margin-left: 20px;
    height: 38px;
}

.users-flex-box p {
    margin-top: 3px;
    text-align: center;
    border-radius: 22px;
}

.name1 {
    border-style: solid;
    border-width: 1px;
    border-color: black;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 22px;
}

.name2 {
    border-style: solid;
    border-width: 1px;
    border-color: black;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 22px;
}

.name3 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 22px;

}

.comment-flex-box {
    flex: 15%;
    display: flex;
    margin-left: 0px;
    transition: box-shadow .3s;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 22px;
    width: 30px;

}

.commentbutton {
    font-size: 35px;
    margin-top: -5px;
}

.exit {
    flex: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    height: 38px;
    transition: box-shadow .3s;
    border-radius: 22px;
}

.exit:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .4);
}

.exit-chatbox:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .4);
}

.comment-flex-box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .4);
}

.exit p {
    margin-top: 3px;
    text-align: center;
}

.footer-flex-box {
    display: flex;
    margin-top: 6px
}

.page-no-left {
    margin-left: 250px
}

.page-no-right {
    margin-left: 625px
}

.place_emoji {
    float: left;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 20px;
    margin-left: 550px;
}

.place_emoji2 {
    float: left;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 20px;
    margin-left: 575px;
}

.box_for_emoji {
    height: 20px;
    width: 20px;
}

.chatbox {
    position: relative;
    height: 500px;
    width: 500px;
    top: -700px;
    bottom: 2px;
    right: -20px;
    left: 675px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    /* opacity: 0; */
    overflow-y: auto;
}

.chatbox-alex-name {
    position: relative;
    top: 30px;
    left: 10px;

}

.chatbox-carmen-name {
    position: relative;
    top: 30px;
    left: 10px;

}

.chatbox-alex-text {
    position: relative;
    top: 5px;
    padding: 10px;
    left: 100px;
    width: 330px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;


}

.chatbox-carmen-text {
    position: relative;
    top: 0px;
    padding: 10px;
    left: 100px;
    width: 330px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;

}

.chatbox-mycomment {
    position: relative;
    left: 10px;
    top: 30px;
}

.textbox {
    position: relative;
    left: 10px
}

.textbox-text {
    position: relative;
    left: 85px;
    width: 375px;
    font-family: Lora;
    left: 460px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
    margin-left: -370px;
    width: 335px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: -10px;
    font-size: 20px;
    height: 50px;
}

.textbox-label {
    position: relative;
    left: 5px;
    top: 30px;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}


.exit-chatbox {
    position: fixed;
    transition: box-shadow .3s;
    margin-left: 460px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    width: 40px;
    text-align: center;
}

.place_emoji {
    position: absolute;
    left: -500px;
    top: 40px;
    width: 1240px;
    height: 880px;
    z-index: -1;

}

.users-flex-box:click {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👍</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

.body {
    cursor: pointer;
}